body
    background black
    color white
    display grid
    justify-items center
    align-items center
    #app
        height 50vh
    table,tr, td,th
        border 1px solid white
    table
        width 100%
        text-align center
    #inputs
        display grid
        grid-template-columns 1fr 1fr
    #outputs
        display grid
        grid-template-columns 1fr 1fr
        label
            text-align right
        table
            grid-column span 2
